<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <ion-tab title="Contacts" icon-on="ion-person" icon-off="ion-person" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Chats" icon-on="ion-chatboxes" icon-off="ion-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Settings" icon-on="ion-gear-b" icon-off="ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>